# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
.cache/

# Build
dist/
build/

# Testing
coverage/
.nyc_output/
